<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar"
  style="background-color: #BE9EC9!important;"
>
  <a class="navbar-brand styles" href="#"><strong>Математика</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link js-scroll-trigger pointer" (click)="goToHomePage()"
          >Назад</a
        >
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class=" btn nav-link login_btn_exit" (click)="logout()"
          ><i class="fas fa-sign-out-alt"></i>Изход</a
        >
      </li>
    </ul>
  </div>
</nav>

<section class="contact-wrap">
  <div
    class="container-fluid masthead"
    *ngIf="mathTestTask$ | async as mathTask"
  >
    <div
      class="modal-dialog"
      *ngIf="skip < mathTask[1] && !isFinished; else finishModal"
    >
      <div class="modal-content cta-inner">
        <div class="modal-header">
          <h5>{{ mathTask[0]?.task }}</h5>
        </div>
        <div class="modal-body">
          <div
            class="quiz"
            id="quiz"
            data-toggle="buttons"
            *ngFor="let answer of answersArray(mathTask[0]?.answers)"
          >
            <label
              (click)="correctAnswer(answer, mathTask[0])"
              *ngIf="answer"
              class="element-animation1 btn btn-lg btn-block"
              ><span class="btn-label"
                ><i class="glyphicon glyphicon-chevron-right"></i
              ></span>
              <input type="radio" name="q_answer" value="answer" />{{
                answer
              }}</label
            >
            <div class="form-group" *ngIf="!answer">
              <label for="exampleInputEmail1">Въведете вашия отговор: </label>
              <input
                name="answer"
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                (input)="
                  correctAnswer($event.target.value, mathTask[0], answer)
                "
                placeholder="Отговор..."
              />
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row nowrap">
            <div class="col-xs-6 col-md-6 d-flex justify-content-start">
              <i class="far fa-hand-point-left icons" (click)="previous()"></i>
            </div>
            <div class="col-xs-6 col-md-6 d-flex justify-content-end">
              <i
                class="far fa-hand-point-right icons"
                (click)="next(mathTask[1], mathTask[0])"
              ></i>
            </div>
          </div>
        </div>
        <div
          class="modal-footer text-muted justify-content-center"
          style="height: 2rem;"
        >
          <div *ngIf="correctAnswer$ | async as ans">
            <!-- <h6 class="h6_style" *ngIf="ans.answer">CORRECT</h6> -->
          </div>

          <div>
            <span>{{ minutes + ":" + seconds }}</span>
          </div>
        </div>
      </div>
    </div>
    <ng-template #finishModal>
      <div class="container text-center">
        <div class="row" style="margin-bottom: 5rem;">
          <div class="col-xl-9 mx-auto mt-5">
            <!-- <h2 class="mb-5">• Край на теста •</h2> -->
            <h2>
              Правилните отговори са на брой: {{ coorectAnswersNumber() }} /
              {{ mathTask[1] }}
            </h2>
            <table class="table" style="background-color: #BE9EC9!important;">
              <thead>
                <tr>
                  <th scope="col">Текст на задачата:</th>
                  <th scope="col">Отговор:</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ans of testAnswers">
                  <td>{{ ans.text }}</td>
                  <td style="vertical-align: middle!important;">
                    {{ ans.answer }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
