@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
h1,
h4,
h5,
a,
p,
label,
div,
form {
  font-family: "Mali", cursive;
}

.login_btn_exit {
  color: white;
  background-color: #ffc312 !important;
  width: 6rem;
  font-size: 1rem;
}

.login_btn_exit:hover {
  color: #ffc312 !important;
  background-color: white !important;
}

section.contact-wrap {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  background: url("https://image.freepik.com/free-photo/children-studying-class_1098-307.jpg")
    no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.cta-inner {
  height: 570px;
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  box-shadow: 0px 0px 10px 0px #00000059;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.icons {
  font-size: 2.5rem;
  cursor: pointer;
}

::ng-deep html,
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: none !important;
  background-color: unset !important;
}

.h6_style {
  font-size: 1.5rem;
  color: green;
}

.pointer {
  cursor: pointer;
}

.modal-dialog {
  overflow-y: initial !important;
  height: 400px;
}
.modal-body {
  overflow-y: auto;
}
