<section class="choice-block">
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-md-6 banner-sec" fxHide fxShow.gt-sm>
        <div>
          <img
            class="d-block img-fluid img-size"
            src="assets/img/registerForm.jpg"
          />
        </div>
      </div>
      <div class="col-md-6 choice-sec">
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
        <h2 class="text-center">Регистрация</h2>
        <hr class="star-light" />
        <form
          class="login-form form-design"
          (ngSubmit)="(f.form.valid)"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="userNames" class="label-form">Вашето име:</label>
              </div>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control input-form"
                  id="userNames"
                  name="name"
                  [(ngModel)]="user.name"
                  placeholder="Name"
                  #userName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && userName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="userName.errors.required">
                    Името е задължително
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="userName" class="label-form"
                  >Потребителско име:</label
                >
              </div>
              <div class="col-md-8">
                <input
                  type="text"
                  class="form-control input-form"
                  id="userName"
                  name="username"
                  [(ngModel)]="user.username"
                  placeholder="Username"
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && username.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="username.errors.required">
                    Потребителското име е задължително
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="userEmail" class="label-form">Имейл:</label>
              </div>
              <div class="col-md-8">
                <input
                  type="email"
                  class="form-control input-form"
                  id="userEmail"
                  name="email"
                  [(ngModel)]="user.email"
                  placeholder="Email"
                  #userEmail="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && userEmail.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && userEmail.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="userEmail.errors.required">
                    Имейлът е задължителен
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="userPassword" class="label-form">Парола:</label>
              </div>
              <div class="col-md-8">
                <input
                  type="password"
                  class="form-control input-form"
                  id="userPassword"
                  name="password"
                  [(ngModel)]="user.password"
                  placeholder="Password"
                  min-length="5"
                  #userPass="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && userPass.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && userPass.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="userPass.errors.required">
                    Паролата е задължителна
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                value="teacher"
                [(ngModel)]="user.type"
              />
              <span class="form-check-label" style="color:#fff;"> Учител </span>
            </label>
            <label class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                value="student"
                [(ngModel)]="user.type"
              />
              <span class="form-check-label" style="color:#fff;"> Ученик</span>
            </label>
          </div>
          <div class="form-group">
            <div>
              <button
                class="btn btn-warning btn-rounded"
                (click)="register(user)"
              >
                Запиши
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
