body {
  background-image: url("https://previews.123rf.com/images/digitalgenetics/digitalgenetics1509/digitalgenetics150900040/45801277-mathematic-equations-background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.choice-block {
  float: left;
  width: 100%;
  height: 45rem;
  padding: 100px 0;
}

.banner-sec {
  background-size: cover !important;
  width: 100%;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  border-radius: 0 10px 10px 0;
}

.carousel-caption {
  text-align: left;
  left: 5%;
}

.choice-sec {
  /* padding: 50px 30px; */
  position: relative;
}

.choice-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}

.choice-sec .copy-text i {
  color: #feb58a;
}

.choice-sec .copy-text a {
  color: #e36262;
}

.choice-sec h2 {
  padding-top: 1.5rem;
  font-weight: 500;
  font-size: 1.75rem;
  color: #fff;
}

/* .choice-sec h2:after {
    content: " ";
    width: 200px;
    height: 5px;
    background: #fff;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
} */

.banner-text {
  width: 100%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}

.banner-text h2 {
  color: #fff;
  font-weight: 600;
}

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}

.banner-text p {
  color: #fff;
  font-size: large;
  font-weight: 600;
}

.img-size {
  height: -webkit-fill-available;
  width: 50rem;
}

.social_icon span {
  font-size: 40px;
  margin-left: 10px;
  width: 50px;
  color: black !important;
  background-color: #ffc312 !important;
}

.social_icon span:hover {
  background-color: white;
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
  text-align: center;
}

.social_icon span {
  font-size: 40px;
  margin-left: 10px;
  width: 50px;
  color: black !important;
  background-color: #ffc312;
}

.social_icon span:hover {
  background-color: white;
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
  text-align: center;
}

hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 1.5em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #ffc312;
}

.input-form {
  background-color: darkgrey;
  padding-left: 0rem;
}

.label-form {
  color: white;
  align-items: left;
  padding-right: 0rem;
}

.form-group {
  margin-bottom: 1.5rem;
}
