<div class="container">
  <div class="d-flex justify-content-center h-100" style="padding-top: 7rem;">
    <div class="card">
      <div class="card-header">
        <h3>Въведете тема и подтема/и</h3>
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label style="color: white" for="classes">Клас:</label>
                <select
                  class="selectpicker form-control"
                  name="classes"
                  [(ngModel)]="topic.class"
                >
                  <option *ngFor="let class of classes">{{ class }}</option>
                </select>
              </div>
              <div class="form-group">
                <label style="color:white;" for="topicNameNew">Тема:</label>
                <input
                  type="text"
                  class="form-control"
                  name="topicNameNew"
                  [(ngModel)]="topic.name"
                  #topicName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && topicName.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && topicName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="topicName.errors.required">
                    Topic Name is required
                  </div>
                </div>
              </div>

              <div
                class="form-group"
                *ngFor="let subtopic of topic.subtopics; let i = index"
              >
                <label style="color:white;" for="subtopicName">Подтема: </label>
                <input
                  type="text"
                  class="form-control"
                  name="subtopicName_{{ i }}"
                  [(ngModel)]="subtopic.name"
                  #subtopicName="ngModel"
                  [ngClass]="{
                    'is-invalid': f.submitted && subtopicName.invalid
                  }"
                  required
                />
                <div
                  *ngIf="f.submitted && subtopicName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="subtopicName.errors.required">
                    Subtopic Name is required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <button type="submit" class="btn topic_btn">
                    Запиши в системата
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn topic_btn" (click)="addSubtopic()">
                    Добави нова подтема
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <div class="d-flex justify-content-start">
              <button
                class="btn btn-outline-warning btn-rounded waves-effect"
                (click)="goToMenu()"
              >
                Назад
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-end">
              <button
                class="btn btn-outline-warning btn-rounded waves-effect"
                (click)="logout()"
              >
                Изход
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
