body {
  background-image: url("https://previews.123rf.com/images/digitalgenetics/digitalgenetics1509/digitalgenetics150900040/45801277-mathematic-equations-background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

.social_icon span {
  font-size: 40px;
  margin-left: 10px;
  width: 50px;
  color: black !important;
  background-color: #ffc312;
}

.social_icon span:hover {
  background-color: white;
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
  text-align: center;
}

.card-header h3 {
  color: white;
  padding-top: 15px;
}

.card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.container {
  height: 100%;
  align-content: center;
}

.topic_btn {
  color: black;
  background-color: #ffc312;
  height: 55px;
  width: auto;
}

.topic_btn:hover {
  color: black;
  background-color: white;
}

.row {
  padding-top: 20px;
  width: auto;
}

.my_link {
  margin-left: 4px;
}

.my_link:hover {
  color: #ffc312 !important;
  cursor: pointer;
  text-decoration: underline !important;
}
