<div class="container">
  <div class="d-flex justify-content-center h-100" style="padding-top: 6rem;">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <app-leftside
              (showDataEmitter)="showData = $event"
              (subtopicId)="subtopicId = $event"
            ></app-leftside>
          </div>
          <div class="col-8 right-component">
            <app-rightside
              [subtopicId]="subtopicId"
              *ngIf="showData"
            ></app-rightside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
