<div class="container">
  <div class="d-flex justify-content-center h-100" style="padding-top: 8rem;">
    <div class="card">
      <div class="card-header">
        <h3>Влезте в профила си</h3>
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="row pt-2">
          <div class="col-md-8 offset-md-2">
            <form
              name="form"
              (ngSubmit)="f.form.valid && login(user)"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label style="color:white;" for="userName"
                  >Потребителско име:</label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      style="background-color: #FFC312"
                      ><i class="far fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="username"
                    name="userName"
                    [(ngModel)]="user.username"
                    #userName="ngModel"
                    [ngClass]="{
                      'is-invalid': f.submitted && userName.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="f.submitted && userName.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="userName.errors.required">
                      User Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label style="color:white;" for="pass">Парола: </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      style="background-color: #FFC312"
                      ><i class="fas fa-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    placeholder="password"
                    class="form-control"
                    name="pass"
                    [(ngModel)]="user.password"
                    #userPassword="ngModel"
                    [ngClass]="{
                      'is-invalid': f.submitted && userPassword.invalid
                    }"
                    required
                  />
                  <div
                    *ngIf="f.submitted && userPassword.invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="userPassword.errors.required">
                      Password is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  value="Вход"
                  class="btn float-right login_btn"
                />
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center" style="color:white">
            Нямате профил?<a class="my_link" (click)="newProfile()"
              >Регистрирай се</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
