.topic_btn {
  color: black;
  background-color: #ffc312;
  height: 60px;
}

.topic_btn:hover {
  color: black;
  background-color: white;
}

.row {
  padding-top: 20px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 7rem;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.my_link {
  color: blue !important;
  margin-left: 4px;
}

.my_link:hover {
  color: #ffc312 !important;
  cursor: pointer;
  text-decoration: underline !important;
}
