<form name="form" #f="ngForm" novalidate>
  <div class="form-group">
    <label style="color: white" for="classes">Клас:</label>
    <select
      class="selectpicker form-control"
      name="classes"
      [(ngModel)]="mathTopic.class"
      (ngModelChange)="topicSelectChangeByClass($event)"
    >
      <option *ngFor="let class of classes">{{ class }}</option>
    </select>
  </div>
  <div class="form-group">
    <label style="color:white;" for="topicsName">Изберете тема:</label>
    <select
      class="selectpicker form-control"
      name="topicName"
      id="topicsName"
      (ngModelChange)="topicSelectChange($event)"
      [ngModel]="mathTopic.name"
      [disabled]="mathtopicsSelectedDisabled"
    >
      <option hidden>Tема</option>
      <option *ngFor="let topic of mathTopics" [value]="topic.id">{{
        topic.name
      }}</option>
    </select>
  </div>

  <div class="form-group" style="padding-top: 4rem;">
    <label style="color:white;" for="subtopicsName">Изберете подтема:</label>
    <select
      class="selectpicker form-control"
      name="subtopicName"
      id="subtopicsName"
      [disabled]="subtopicSelectDisabled"
      [(ngModel)]="mathSubtopic.id"
      (ngModelChange)="subtopicSelectChange($event)"
    >
      <option hidden>Подтема</option>
      <option *ngFor="let subtopic of mathSubtopics" [value]="subtopic.id">{{
        subtopic.name
      }}</option>
    </select>
  </div>
  <div class="form-group text-center" style="padding-top: 3rem;">
    <input
      type="button"
      value="Назад"
      class="btn login_btn"
      style="margin-right: 2rem;"
      (click)="previosPage()"
    />
    <input
      type="submit"
      value="Напред"
      class="btn login_btn"
      (click)="show()"
    />
  </div>
</form>
