@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
h1,
h4,
h5,
a,
p,
label,
div,
form {
  font-family: "Mali", cursive;
}

section.contact-wrap {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: url("https://image.freepik.com/free-photo/children-studying-class_1098-307.jpg")
    no-repeat center center fixed;
  background-size: cover;
}
.cta {
  padding-top: 5rem;
  padding-bottom: 6rem;
  position: absolute;
}
.cta .cta-inner {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0px 0px 10px 0px #00000059;
}
.contactForm {
  width: 100%;
  max-width: 484px;
  border-radius: 5px;
  margin: auto;
  padding: 30px 40px 20px;
}
.contactForm .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #222222;
  background-color: transparent !important;
  color: #222222;
  margin-bottom: 2rem;
  outline: none;
}
.contactForm ::placeholder {
  color: #222222;
}
input.btn-login {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #3dce8c;
  border: 1px solid #3dce8c;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 50px;
  outline: none;
  box-shadow: 0px 0px 10px 0px #00000059;
}

.login_btn_exit {
  color: white;
  background-color: #ffc312 !important;
  width: 6rem;
  font-size: 1rem;
}

.login_btn_exit:hover {
  color: #ffc312 !important;
  background-color: white !important;
}

.login_btn {
  color: white;
  background-color: #be9ec9 !important;
  width: 10.5rem;
}

.login_btn:hover {
  color: #ffc312;
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}
