<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar"
  style="background-color: #BE9EC9!important;"
>
  <a class="navbar-brand styles" href="#"><strong>Математика</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link js-scroll-trigger pointer" (click)="goToHomePage()"
          >Назад</a
        >
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class=" btn nav-link login_btn_exit" (click)="logout()"
          ><i class="fas fa-sign-out-alt"></i>Изход</a
        >
      </li>
    </ul>
  </div>
</nav>
<section class="cta contact-wrap" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto  wow zoomIn">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper"
              >Избери си тема, подтема, съответно тест и започни</span
            >
          </h2>
          <div class="contactForm text-center">
            <form>
              <div class="form-group">
                <select
                  #topic
                  class="selectpicker form-control"
                  placeholder="Name"
                  name="classes"
                  (change)="topicSelect(topic.value)"
                >
                  <option value="" selected disabled>Тема</option>
                  <option
                    *ngFor="let topic of mathTopics$ | async"
                    [value]="topic.id"
                  >
                    {{ topic.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <select
                  #mathSubtopic
                  class="selectpicker form-control"
                  name="classes"
                  (change)="subtopicSelect(mathSubtopic.value)"
                >
                  <option value="" selected disabled>Подтема</option>
                  <option
                    *ngFor="let subtopic of mathSubtopics$ | async"
                    [value]="subtopic.id"
                  >
                    {{ subtopic.name }}</option
                  >
                </select>
              </div>
              <div class="form-group">
                <select
                  #mathTest
                  class="selectpicker form-control"
                  name="classes"
                  (change)="mathTestSelect(mathTest.value)"
                >
                  <option value="" selected disabled>Тест</option>
                  <option
                    *ngFor="let test of mathTests$ | async"
                    [value]="test.id"
                    >{{ test.name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-center">
                  <a class=" btn nav-link login_btn" (click)="goToTestPage()"
                    >Започни теста >></a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
