@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
h1,
h4,
h5,
a,
p,
label,
div,
form {
  font-family: "Mali", cursive;
}

.pointer {
  cursor: pointer;
}

.students-page {
  height: 100%;
  background: #be9ec9;
  overflow: hidden;
  padding: 1.5rem;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  height: 100vh;
  background: url(https://image.freepik.com/free-photo/children-studying-class_1098-307.jpg)
    no-repeat fixed center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

.my-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

::ng-deep html,
body {
  padding-top: 3rem;
  color: #5a5a5a;
  background-image: none !important;
  background-color: #be9ec9 !important;
}

.login_btn_exit {
  color: white;
  background-color: #ffc312 !important;
  width: 6rem;
  font-size: 1rem;
}

.login_btn_exit:hover {
  color: #ffc312 !important;
  background-color: white !important;
}

.login_btn {
  color: white;
  background-color: #be9ec9 !important;
  width: 6.5rem;
}

.login_btn:hover {
  color: #ffc312;
  background-color: white !important;
}

.styles {
  color: #ffc312;
}

section {
  padding: 30px 0 0px;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #ffc312;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffc312;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.card.card-cascade.narrower .view.view-cascade {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.5rem - 2px);
  border-top-right-radius: calc(0.5rem - 2px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-left-radius: calc(0.5rem - 2px);
  border-bottom-right-radius: calc(0.5rem - 2px);
}
