<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar"
  style="background-color: #BE9EC9!important;"
>
  <a class="navbar-brand styles" href="#"><strong>Математика</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link js-scroll-trigger pointer"
          (click)="scrollToElement(head)"
          >Начало</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link js-scroll-trigger pointer"
          (click)="scrollToElement(fifth)"
          >Тестове за 5ти клас</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link js-scroll-trigger pointer"
          (click)="scrollToElement(sixth)"
          >Тестове за 6ти клас</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link js-scroll-trigger pointer"
          (click)="scrollToElement(end)"
          >За приложението</a
        >
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class=" btn nav-link login_btn_exit" (click)="logout()"
          ><i class="fas fa-sign-out-alt"></i>Изход</a
        >
      </li>
    </ul>
  </div>
</nav>

<header class="masthead text-white text-center" #head>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto mt-5" style="padding-top: 5rem;">
        <h1 class="mb-5">• Упражнявай се, за да се справяш с лекота •</h1>
      </div>
    </div>
  </div>
</header>

<div class="students-page">
  <div class="row" style="padding-top: 2rem;">
    <div class="col-lg-6" #fifth>
      <div
        class="card card-cascade narrower"
        style="background-color: #FFC312;"
      >
        <div class="view view-cascade overlay">
          <img
            src="assets/img/studentPageFifthGrade.jpg"
            class="card-img-top"
            alt="narrower"
          />
        </div>
        <div class="card-body card-body-cascade">
          <h4 class="card-title" style="color: #fff">5ти клас</h4>
          <p class="card-text" style="color: #fff">
            Включва целият материал по математика за 5ти клас. Обхваща темите
            Десетични дроби, Основни геометрични фигури, Естествени числа,
            Обикновени дроби и Годишен преговор.
          </p>
          <p>
            <a class="btn login_btn" [routerLink]="['5']" role="button"
              >Избери »</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6" style="padding-top: 2rem;" #sixth>
      <div
        class="card card-cascade narrower"
        style="background-color: #FFC312;"
      >
        <div class="view view-cascade overlay">
          <img
            src="assets/img/studentPageSixthGrade.jpg"
            class="card-img-top"
            alt="narrower"
          />
        </div>
        <div class="card-body card-body-cascade">
          <h4 class="card-title" style="color: #fff">6ти клас</h4>
          <p class="card-text" style="color: #fff;">
            Включва целият материал по математика за 5ти клас. Обхваща темите
            Геометрични фигури и тела, Рационални числа, Степенуване, Уравнения,
            Пропорции, Елементи от вероятности и статистика и Годишен преговор.
          </p>
          <p>
            <a class="btn login_btn" [routerLink]="['6']" role="button"
              >Избери »</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <section id="footer" #end>
    <div class="container" style="background-color:#BE9EC9!important; ">
      <div class="row text-xs-center text-sm-left text-md-left mb-5">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h5 class="txt-upper">За приложението</h5>
          <p class="text-justify" style="color: #fff">
            Тук ще можете да се упражнявате върху преподавания материал в
            училище под формата на онлайн тестове, които ще ви бъдат подготвяни
            от вашите преподаватели в училище.
          </p>
          <p style="color: #FFC312">Последвай ни:</p>
          <ul class="list-unstyled list-inline social">
            <li class="list-inline-item">
              <a><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a><i class="fab fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
