<form
  name="form"
  (ngSubmit)="f.form.valid && onSubmit(mathTest)"
  #f="ngForm"
  novalidate
>
  <div class="form-group">
    <div class="input-group">
      <label class="mylabel" for="testName">Въведете имато на теста: </label>
      <input
        type="text"
        class="form-control input_style"
        placeholder="Име на теста"
        name="testName"
        [(ngModel)]="mathTest.name"
      />
    </div>
  </div>

  <div
    class="form-group"
    *ngFor="let mathTest of mathTest.mathTasks; let i = index"
  >
    <div class="input-group form_task">
      <label class="mylabel" for="mathTask">Задача: </label>
      <input
        type="text"
        class="form-control"
        name="mathTask_{{ i }}"
        [(ngModel)]="mathTest.task"
        #mathTask="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && mathTask.invalid }"
        required
      />
      <div *ngIf="f.submitted && mathTask.invalid" class="invalid-feedback">
        <div *ngIf="mathTask.errors.required">Задачата е задължителна</div>
      </div>
    </div>

    <div class="input-group form_task">
      <label class="mylabel" for="mathTaskAnswers">Възможни отговори: </label>
      <input
        type="text"
        class="form-control"
        name="mathTaskAnswers_{{ i }}"
        [(ngModel)]="mathTest.answers"
        #mathTaskAnswers="ngModel"
      />
    </div>

    <div class="input-group form_task">
      <label class="mylabel" for="mathTaskCorrectAnswer">Верен отговор: </label>
      <input
        type="text"
        class="form-control"
        name="mathTaskCorrectAnswer_{{ i }}"
        [(ngModel)]="mathTest.correctAnswer"
        #mathTaskCorrectAnswer="ngModel"
        [ngClass]="{
          'is-invalid': f.submitted && mathTaskCorrectAnswer.invalid
        }"
        required
      />
      <div
        *ngIf="f.submitted && mathTaskCorrectAnswer.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="mathTaskCorrectAnswer.errors.required">
          Отговорът е задължителен
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row" style="padding-top: 2rem;">
      <div class="col-6">
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary" (click)="addTest()">
            Добави задача
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-danger">Запиши теста</button>
        </div>
      </div>
    </div>
  </div>
</form>
