label.btn {
  padding: 18px 60px;
  white-space: normal;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

label.btn:hover {
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
label.btn-block {
  text-align: left;
  position: relative;
  background-color: #be9ec9;
  margin-bottom: 1rem;
}

label .btn-label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
}

label .glyphicon {
  top: 34%;
}
.element-animation1 {
  animation: animationFrames ease 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }

  80% {
    transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }

  80% {
    -webkit-transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity: 0;
    -ms-transform: translate(-1500px, 0px);
  }

  60% {
    opacity: 1;
    -ms-transform: translate(30px, 0px);
  }
  80% {
    -ms-transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    -ms-transform: translate(0px, 0px);
  }
}

.modal-header {
  background-color: transparent;
  color: inherit;
}

.modal-dialog {
  margin: 0 0;
}

.modal-body {
  min-height: 150px;
}
#loadbar {
  position: absolute;
  width: 62px;
  height: 77px;
  top: 2em;
}

@-moz-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-ms-keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}

@-o-keyframes fadeG {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes fadeG {
  0% {
    background-color: #000;
  }

  100% {
    background-color: #fff;
  }
}
