<section class="choice-block">
  <div class="container d-flex justify-content-center" style="height: 31.3rem;">
    <div class="row">
      <div class="col-md-4 choice-sec">
        <h2 class="text-center">Изберете си действие</h2>
        <form class="login-form form-design text-center">
          <div class="form-group">
            <button
              class="btn btn-warning btn-rounded"
              style="width: 65%;"
              (click)="goToMathTopic()"
            >
              Добавяне на нова тема/подтеми
            </button>
          </div>
          <hr class="star-light" />
          <div class="form-group">
            <button
              class="btn btn-warning btn-rounded"
              style="width: 65%;"
              (click)="goToMathTest()"
            >
              Добавяне на тест
            </button>
          </div>
          <hr class="star-light" />
          <div class="form-group">
            <button
              class="btn btn-warning btn-rounded"
              style="width: 65%;"
              (click)="logout()"
            >
              Изход
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="d-flex justify-content-end social_icon">
          <span class="rounded"><i class="fas fa-superscript"></i></span>
          <span class="rounded"><i class="fas fa-greater-than-equal"></i></span>
          <span class="rounded"><i class="fas fa-square-root-alt"></i></span>
        </div>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img
                class="d-block img-fluid img-size"
                src="assets/img/menuFirst.jpg"
                alt="First slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>5ти или 6ти клас</h2>
                  <p>
                    Тази система позволява на Вас учителите да създавате теми и
                    подтеми за 5ти и 6ти клас по математика, след което да
                    добавяте тестове, чрез които вашите ученици да се упражняват
                    върху изучавания материал в клас.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid img-size"
                src="assets/img/menuSecond.jpg"
                alt="Second slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Добави нова тема или подтема</h2>
                  <p>
                    Тук можете да създавате нова главна тема/и за 5ти или 6ти
                    клас, или пък да добавяте нова подтема към вече съществуваща
                    тема.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                class="d-block img-fluid img-size"
                src="assets/img/menuThird.jpg"
                alt="Third slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Добавяне на тестове</h2>
                  <p>
                    Тук можете да създадете и самия тест. Като трябва единствено
                    да изберете класа, темата, съответната подтема и създавате
                    нов тест, който да качите в системата.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предишна</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следваща</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
